[submodule "RoutePlanning/thirdparty/googletest"]
	path = RoutePlanning/thirdparty/googletest
	url = https://github.com/abseil/googletest.git
[submodule "RoutePlanning/thirdparty/pugixml"]
	path = RoutePlanning/thirdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "RoutePlanning/thirdparty/P0267_RefImpl"]
	path = RoutePlanning/thirdparty/P0267_RefImpl
	url = https://github.com/ethanyanjiali/P0267_RefImpl.git
